<html>

<form action="addingListnerInfo" method="POST">
    Name    <input type="text" name="name">
    <br><br>
    Email    <input type="text" name="email">
    <br><br>
    Contact    <input type="text" name="contact">
    <br><br>
    <!-- caledly url   <input type="text" name="url"> -->
    <br><br>
    imageName    <input type="text" name="imageName">
    <br><br>
    Description    <input type="text" name="Description">
    <br><br>
    Type    <input type="text" name="Type">
    <br><br>


    <input type="submit">

</form>

</html>

