<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drivekraft</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/chat-style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>

<body>
  <div class="wrapper">
    <section class="chat-area">
      <header>
       
        <a href="users.php" class="back-icon"><i class="fas fa-arrow-left"></i></a>
        <div class="details">
          <span>Dipesh</span>
        </div>
      </header>
      <div class="chat-box">


       <div class="chat outgoing"><div class="details"><p> this is the message</p></div></div>
        
      <div class="chat incoming"><div class="details"><p>this is also message</p></div></div>

      <div class="chat outgoing"><div class="details"><p> long message try kare.. wikipedia se utha ka chap de kutch </p></div></div>

      </div>
      <form action="#" class="typing-area">
        <input type="text" class="incoming_id" name="incoming_id" value="<?php echo $user_id; ?>" hidden>
        <input type="text" name="message" class="input-field" placeholder="Type a message here..." autocomplete="off">
        <button><i class="fab fa-telegram-plane"></i></button>
      </form>
    </section>
  </div>


  <script>
      chatBox = document.querySelector(".chat-box");
      setInterval(() =>{
        chatBox.scrollTop = chatBox.scrollHeight;
        }, 500);
  </script>

  
  <script src="{{ url_for('static', filename='js/chat-js.js') }}"></script>

</body>
</html>
