<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CGYJN9NTJL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-CGYJN9NTJL');
  </script>

  <title>
    Drivekraft - Lending ears across the globe. Free Mental HealthCare Session
  </title>

  <!-- Required meta tags -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description"
    content="Indian Mental HealthCare StartUp Working on making Mental Health Servies  Affordable for everyone. WE provide Free Mental HealthCare Session across the globe" />
  <meta name="keywords" content="moodle, Drivekraft Free Online Therapy for Mental HealthCare" />

  <!-- Favicon -->
  <link rel="icon" href="{{url_for('static', filename='images/logo.png')}}" type="image/x-icon"> 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!-- Font Awesome -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Swiper CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swiper.min.css') }}">
 

  <!-- Animate.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />


  <!-- Stylesheet Main -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">



  <!-- <script src="js/custom.js"></script> -->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>

<body >
    <div class="contact-page-short-boxes" style="
        background: linear-gradient(
          270deg,
          rgba(254, 128, 81, 1) 0%,
          rgba(249, 180, 92, 1) 100%
        );
      ">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-12 col-12 col-md-4 mt-5 mt-lg-0" style="margin-top:10px; margin-bottom: 10px;">
            <div class="emergency-box h-100 animate__animated wow animate__fadeInUp">
                <section id="team">
                  <div id="liveAlertPlaceholder"></div> 
                  <!-- for alert purposes -->
                    <div class="container my-3 py-5 text-center">
                        <div class="row mb-5">
                            <div class="col">
                               <!-- <center><h2>Drivekraft</h2></center>  -->
                                <p class="my-3">
<!--  -->
                                    
                                        <div class="container">
                                            <div class="my-5 mt-lg-0" id="contactform">
                                                <div class="appointment-box1 animate__animated wow animate__fadeInUp">
                                                    <h2 class="d-flex align-items-center ">
                                                        Please Enter your Email To continue
                                                    </h2>
                                                    <div > 
                                                    <form class="d-flex flex-wrap justify-content-between" action="/clientformvalues" method="Post" id="formhere" >
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-md-6" >
                                                                    <input type="email" placeholder="Email id" name="email" id="email"    > 
                                                                </div>
                                                            </div>

                                                            <input type="submit" class="call-btn search button gradient-bg mt-3 mt-md-0"   style="font-size: 20px; max-width: 300px;">

                                              

                                                         </div>     
                                                    </form>
                                    
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    
                                    <!--  -->
            
                                </p>
                            </div>
                        </div>
                        
                    </div>
                </section>
            </div>
        </div>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

       </body>
</html>
